@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  margin-left: 14px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #005CE6;
  border-radius: 10px;
  border: 1px #f1f1f1;
}

.custom-select:hover,
.custom-select:focus {
  border: none !important;
    outline: none !important;
    box-shadow: none !important;
}